body {
    margin: 0;
    font-family: "Barlow", sans-serif;
}

.loader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.logo0 {
    width: 300px;
    z-index: 10;
}