body {
    margin: 0;
    font-family: "Barlow", sans-serif;
}

.loader_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #5AAE32;
    background: linear-gradient(0deg, rgba(90, 174, 50, 1) 0%, rgba(196, 210, 14, 1) 100%);
    z-index: 10000;
}


.loader {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #FFF 94%, #FFF);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite;
}

@keyframes l38 {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}