html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Ubuntu";
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: center;
}

a {
    text-decoration: none;
}

::selection {
    background: #008C36;
}

.logoalcaldia {
    width: 80px;
    position: absolute;
    z-index: 100;
    right: 10%;
}

.todo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 4%;
}

.fondoblanco {
    background: #FFF;
    width: 100%;
    height: 40vh;
    position: absolute;
}

.fondoverde {
    background: #5AAE32;
    background: linear-gradient(0deg, rgba(90, 174, 50, 1) 0%, rgba(196, 210, 14, 1) 100%);
    width: 100%;
    height: 60vh;
    top: 60vh;
    position: absolute;
}

.contenido {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.logo {
    width: 450px;
    z-index: 10;
}

.caja {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #E8EBAA;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: -50px;
}

.titulo {
    width: 260px;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background: #FFF;
    color: #30622A;
    font-weight: bold;
    cursor: pointer;
}





.loader_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #5AAE32;
    background: linear-gradient(0deg, rgba(90, 174, 50, 1) 0%, rgba(196, 210, 14, 1) 100%);
    z-index: 10000;
}


.loader {
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side, #FFF 94%, #FFF);
    background:
        var(--_g) 0 0,
        var(--_g) 100% 0,
        var(--_g) 100% 100%,
        var(--_g) 0 100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite;
}

@keyframes l38 {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}










@media only screen and (max-width: 450px) {
    .logo {
        width: 95%;
    }

    .logoalcaldia {
        width: 70px;
    }

    .contenido {
        width: 100%;
    }

    .todo {
        padding-top: 35%;
    }

    .caja {
        padding-top: 100px;
        width: 67%;
    }

    .titulo {
        width: 80%;
    }

    .boton {
        margin-top: 50px;
        width: 120px;
        height: 40px;
    }
}