html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::selection {
    background: #FFF000;
}


.loader {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

.textura {
    width: 100%;
    height: 100vh;
    background: url(img/textura.png) repeat;
    background-size: 700px;
    z-index: 1;
    position: fixed;
    mix-blend-mode: multiply;
    opacity: 0.3;
}

.logo0 {
    width: 300px;
    z-index: 10;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background: #FFF000;
    background: radial-gradient(circle, rgba(255, 240, 0, 1) 30%, rgba(255, 136, 14, 1) 100%);
}

.logo1 {
    position: absolute;
    width: 250px;
    z-index: 10;
}

.caja {
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    z-index: 10;
}

.caja_texto {
    width: 100%;
    padding-top: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-align: left;
}

.caja_titulo {
    width: 100%;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}

.caja_boton {
    margin-top: 20px;
    padding: 15px 25px 15px 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #FFF;
    background: #ff880e;
    cursor: pointer;
}


.footer {
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    z-index: 10;
}

.footer_caja1 {
    width: 100%;
    height: 60px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    position: relative;
}

.footer_aux1 {
    width: 60px;
    height: 60px;
    background: #FFF;
    transform: skewX(10deg);
    position: absolute;
    left: -30px;
}

.footer_aux2 {
    width: 60px;
    height: 60px;
    background: #FFF;
    transform: skewX(-10deg);
    position: absolute;
    right: -30px;
}

.logos {
    width: 100px;
}

.footer_caja2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.footer_aux3 {
    width: 40px;
    height: 40px;
    background: #32338b;
    transform: skewX(10deg);
    position: absolute;
    left: -30px;
}

.footer_aux4 {
    width: 40px;
    height: 40px;
    background: #32338b;
    transform: skewX(-10deg);
    position: absolute;
    right: -30px;
}

.footer_link {
    height: 40px;
    background: #32338b;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    padding: 0 20px 0 20px;
}

.link_footer {
    width: 100%;
}











@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .caja {
        width: 100%;
    }

    .footer {
        width: 100%;
        padding: 0px;
    }

    .footer_aux1 {
        display: none;
    }

    .footer_aux2 {
        display: none;
    }

    .caja_texto {
        width: 80%;
    }

    .caja_titulo {
        width: 80%;
        font-size: 16px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .logos {
        width: 70px;
    }

    .footer_aux3 {
        display: none;
    }

    .footer_aux4 {
        display: none;
    }

    .footer_link {
        width: 100%;
        padding: 0;
    }

    .footer_caja2 {
        width: 100%;
    }

}

@media only screen and (max-width: 300px) {
    .logos {
        width: 50px;
    }

    .logo1 {
        width: 100%;
    }

}